body {
      font-family: Arial;
      background-color: gray;
      color: white;
      text-align: center;
      padding: 50px;
    }

    input {
      padding: 10px;
      width: 200px;
      border-radius: 5px;
      border: none;
    }
    .to-do{
        align-items: center;
    }

    button {
      padding: 10px;
      margin-left: 5px;
      border-radius: 5px;
      cursor: pointer;
      border: none;
    }
    .deletebtn{
        background-color: red;
        color: white;
    }
    .todo-item {
      margin-top:15px;
    }
